body{
    background: linear-gradient(135deg, #ffb6c1, #ff69b4); /* Light Pink Gradient */
}

.intro{
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 10px;
    color:  #333;
}

.bio, .background, .fun-facts{
    margin-bottom: 40px;
}
.h4{
    font-size: 2rem;
    margin-bottom: 10px;
}
.about-me p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.fun-facts{
    background: linear-gradient(135deg, #ffb6c1, #ff69b4); 
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: white;
}
 .fun-facts h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
 }
.fun-facts ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    text-align: left;
    max-width: 700px;
}

.fun-facts li {
    padding: 15px;
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
    transition: transform 0.4s ease, background 0.3s ease;
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    font-weight: bold;
    border-radius: 10px;
    color:  #333;
    animation: fadeIn 10s forwards;
}
.fun-facts li:hover{
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.4);
}
@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity:1 ;
        transform: translateY(15s);
    }
}

.fun-facts li:nth-child(1) {
    animation-delay: 0.2s;
}
.fun-facts li:nth-child(2) {
    animation-delay: 0.4s;
}
.fun-facts li:nth-child(3) {
    animation-delay: 0.6s;
}
.fun-facts li:nth-child(4) {
    animation-delay: 0.8s;
}
@media (max-width: 768px){
    .fun-facts{
        padding: 40px 20px;
    }
    .fun-facts h1{
        font-size: 2rem;
    }
    .fun-facts ul {
        font-size: 1rem;
    }
}
@media (max-width: 768px){
    .about-me {
        padding: 40px 20px;
    }
    .about-me h2{
        font-size: 2rem;
    }
    .about-content {
        padding: 0 20px;
    }
}


.back-button{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: #ff4081;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.back-button:hover{
    background: #d0356b;
}

